on_branch: main
from_branch: dev
current_version: 0.1.1
tag_prefix: v
archive: true
registry: ghcr
github_repo: kushalsubedi/deploya
categories:
  features: [feat, feature]
  fixes: [fix, bugfix, bug]
  patches: [chore, refactor, perf, improvement]
  docs: [docs, doc]
